body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FF8F28;
}

p {
	margin:0px;
}

a {
	color:white;
	text-decoration:none;
}

#page {
	display:grid;
	grid-template-rows:10vh 80vh 10vh;
	width: 100vw;
    height: 100vh;
}

ul {
	list-style: none;
	display:flex;
	justify-content: left;
	padding-left:20px;
}

li {
	padding:5px;
}

li:hover {
	cursor:pointer;
	font-weight:bold;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cccccc; 
  border:solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #bbbbbb;
}

/*Header*/

#header {
	grid-row-start:1;
	grid-row-end:2;
	background-color:#FF8F28;
	color:white;
	font-family: 'Lato', sans-serif;
	display:flex;
	align-items: center;
}

#branding {
	overflow:hidden;
	display:flex;
	align-items: center;
	margin:0px;
}

#logo {
	height:5vh;
	margin-left:20px;
}

h1 {
	margin-left:10px;
}

h1:hover {
	cursor:default;
}

#menu {
	margin:0px;
	padding-left:0px;
}

/*Content*/

#info {
	grid-row-start:2;
	grid-row-end:3;
	overflow:hidden;
	background-image: url("Michelle bg.jpg");
  	height: 80vh; 
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	border-top-left-radius:3%;
  	border-bottom-right-radius:3%;
  	display:grid;
  	grid-template-columns: auto 50% auto;
}

#leftinfo {
	grid-column-start:1;
	grid-column-end:2;
}


#midinfo {
	grid-column-start:2;
	grid-column-end:3;
	background-color:#1C3049;
	font-family: 'Lato', sans-serif;
	color:white;
	padding:20px;
	border-top-left-radius:3%;
	border-bottom-right-radius:3%;
	overflow-y:scroll;
	height:80vh;
}

#midinfo:hover {
	cursor:default;
}

#rightinfo {
	grid-column-start:3;
	grid-column-end:4;
}

/*Footer*/

#footer {
	grid-row-start:3;
	grid-row-end:4;
	background-color:#FF8F28;
	color:white;
	display:flex;
	justify-content: space-between;
	font-family: 'Lato', sans-serif;
	font-size:2vh;
}

#footer:hover {
	cursor:default;
}

#online {
	margin-left:20px;
}

#offline {

}

#business {
	margin-right:20px;
}

.foot {
	margin-top:8px;
}
