.layout {
	display: grid;
	grid-template-columns: auto 310px;
}

.menu {
	grid-column-start: 1;
	grid-column-end: 2;
	font-family: 'Philosopher', sans-serif;
}

.ingr{
	margin: 2px;
}

.GroceryList {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	width: 300px;
	grid-column-start: 2;
	grid-column-end: 3;
	/*font-family: 'Indie Flower', cursive;*/
	font-family: 'Permanent Marker', cursive;
	cursor: default;
	margin-right: 10px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

li {
	list-style: none;
	padding: 0px;
	margin-left: 10px;
	width: max-content;
}

.dsh:hover {
	cursor: pointer;
	color: red;
}

ul {
	padding-left: 5px;
	cursor: default;
}