h1 {
	text-align: center;
}

.IC {
	display: flex;
	justify-content: center;
}

.intro {
	width: 750px;
	text-align: left;
}

.TC {
	display: flex;
	justify-content: center;
}

.trainer {
	text-align: center;
	border-style: solid;
	padding: 20px;
	border-width: 1px;
}