/*html { 
  background: url(Nature.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body, html {
	min-height: 100%;
}

body {
	background-image: url(Nature2.jpg);
	background-size: cover;
	background-size: no-repeat;
}

.btn-warning {
	background: rgb(180,221,180); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 56%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 56%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 56%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
	/*background-color: #98a55b;*/
	font-family: 'Uncial Antiqua', cursive;
	color: maroon;
	border-color: maroon;
}

.btn-warning:hover {
	background-color: #717d3b;
	border-color: #3f4b0c;
}

h2 { 
	color: #f5f5f5;
	/*font-family: 'Nova Script', cursive;*/
	font-family: 'Uncial Antiqua', cursive;
	/*font-family: 'Fondamento', cursive;*/
}

